ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li :hover {
  background-color: #f5f3f3;
}
section {
  padding: 2.5vw 3.5vw 5vh 3.5vw;
  box-sizing: border-box;
  height: 100vh;
}

.navMar {
  visibility: hidden;
}
